.social-icons{
	background: url(/images/css/templates/social_icons_sprite/bg.png);
	width: 500px;
	margin: 100px auto 0;
	padding: 50px;
	text-align: center;
}
.icons{
	background: url(/images/css/templates/social_icons_sprite/sprite.png);
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-right: 20px;
	transition: all .7s;
}
.vk-ico:hover{
	background-position: 0 -60px;
	/* transform: rotate(360deg); */
}
.fb-ico{
	background-position: -60px 0;
}
.fb-ico:hover{
	background-position: -60px -60px;
	/* transform: rotate(360deg); */
}
.tw-ico{
	background-position: -120px 0;
}
.tw-ico:hover{
	background-position: -120px -60px;
	/* transform: rotate(360deg); */
}