/* Social
===================*/

.social {
    height: 150px;
    width: 300px;
    background-color: yellow;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 4px;

    background-color: #fff;
    border: 1px solid #e8ecee;

    transition: background .1s linear;
}

.social__item:hover {
    background-color: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #000;
}

.social__icon {
    display: block;
    height: 18px;

    fill: #c6cacc;

    transition: fill .1s linear;
}